@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $bg-color: (
    '': #ffffff,
    'page': #f1f2f6,
    'overlay': #dfe4ea,
  ),
  $colors: (
    'primary': (
      'base': #1e90ff,
    ),
    'success': (
      'base': #21ba45,
    ),
    'warning': (
      'base': #f2711c,
    ),
    'danger': (
      'base': #db2828,
    ),
    'error': (
      'base': #db2828,
    ),
    'info': (
      'base': #a4b0be,
    ),
  ),
  $button-padding-horizontal: (
    'default': 30px,
  )
);
