@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --side-bar-width: 220px;
    --nav-bar-height: 60px;
    --side-bar-bg-color: #304156;
    --side-bar-item-bg-color: #1f2d3d;
    --side-bar-item-hover-bg-color: #001528;
    --side-bar-text-color: #bfcbd9;
    --el-menu-base-level-padding: 12px;

    .sidebar-collapse {
        --side-bar-width: 72px; 
    }
}

html {
    &.dark {
        --side-bar-bg-color: #181818;
        --side-bar-item-bg-color: #181818;
        --side-bar-item-hover-bg-color: #2b2d2e;
        --side-bar-text-color: #bfcbd9;
        
        // 暗色注意下特殊处理
        .el-switch.is-checked .el-switch__core {
            border-color: transparent;
            background-color: #2b2d2e;
        }

        .el-switch.is-checked .el-switch__core .el-switch__action {
            color: #4c4d4f;
        }

        .layout-container {
            .side-bar {
                border-right: 1px solid var(--side-bar-item-hover-bg-color);
            }

            .nav-bar {
                border-bottom: 1px solid var(--side-bar-item-hover-bg-color);
            }
        }
    }
}

html, body, #app {
    height: 100%;
}

.el-bg-color {
    background-color: var(--el-bg-color);
}

// 布局
.layout-container {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: var(--el-bg-color);
    background-color: var(--el-bg-color-page);
    transition: background-color 0.2s ease-in-out;

    // 小屏幕下，完全隐藏侧侧边栏
    &.is-phone {
        .side-bar {
            left: 0;
        }

        .main-container {
            margin-left: 0;
        }
    }

    &.sidebar-collapse {
        &.is-phone {
            .side-bar {
                left: calc(0px - var(--side-bar-width));
            }
        }

        .el-menu {
            .front-icon {
                margin-left: 10px !important;
            }
        }
    }

    .side-bar {
        display: flex;
        width: var(--side-bar-width);
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        background-color: var(--side-bar-bg-color);
        transition: left 0.3s;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: calc(var(--nav-bar-height) - 10px);
                height: calc(var(--nav-bar-height) - 10px);
            }

            .title {
                font-size: 16px;
                color: #ffffffdd;
                margin-left: 8px;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }
    }

    .main-container {
        position: relative;
        min-height: 100%;
        margin-left: var(--side-bar-width);
        transition: all .3s cubic-bezier(.34,.69,.1,1);

        .nav-bar {
            display: flex;
            align-items: center;
            width: 100%;
            height: var(--nav-bar-height);
            position: sticky;
            left: 0;
            top: 0;
            box-shadow: 0 1px 4px rgba(0,21,41,.08);
            background-color: var(--el-bg-color);
            transition: background-color 0.2s cubic-bezier(1, 0.5, 0.8, 1);
            z-index: 88;
        }

        .app-main {
            width: 100%;
            height: 100%;
        }
    }
}

// 左侧菜单
.el-menu {
    border: none;
    background-color: var(--side-bar-bg-color);

    .el-sub-menu__title {
        color: var( --side-bar-text-color);
    }

    .el-sub-menu__title:hover {
        background-color: var(--side-bar-item-bg-color);
    }

    .el-menu-item {
        color: var( --side-bar-text-color);
        background-color: var(--side-bar-item-bg-color);

        &.is-active {
            color: #409eff;
            background-color: var(--side-bar-item-hover-bg-color) !important;
        }

        &.only-grade {
            background-color: var(--side-bar-bg-color);
        }
    }

    .el-menu-item:hover {
        background-color: var(--side-bar-item-hover-bg-color);
    }

    .front-icon {
        margin-right: 10px !important;
    }
}

// 左侧菜单(收起来的时候，文字隐藏)
.el-menu--collapse {
    width: var(--side-bar-width);

    .el-sub-menu__title {
        span {
            opacity: 0;
        }

        .el-sub-menu__icon-arrow {
            opacity: 0;
        }
    }
}

/*
  路由切换效果
  进入和离开动画可以使用不同
  持续时间和速度曲线。
*/
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

#nprogress .bar {
    height: 4px;
    background: var(--el-color-primary);
}

